@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(34, 34, 34);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgba(255, 255, 255, 0.596);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
#progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    margin-top: 50px;
  }
  
  #progressbar>div {
    background-color: rgb(64, 231, 41);
    width: 30%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
  }
  #progressbar2 {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    margin-top: 80px;
  }
  
  #progressbar2>div {
    background-color: rgb(64, 231, 41);
    width: 70%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
  }